@import '../../../styles/global.styl'

.list--rooms
  .list__item
    margin .5rem 0 0 1rem
    padding 0.5rem 0.5rem 0.5rem 2rem
    border-radius 2rem
    font-size 1.25rem
    cursor pointer
    transition background .3s

    &:hover
      background $c-grey

    &.is-active
      background $c-grey-light

      &:hover
        background $c-grey
