@import '../../../styles/global.styl'

.list--rooms
  > .list__item
    cursor pointer
    padding-bottom spacer(3)
    max-height 70vh
    overflow auto
    overflow-x visible
    padding-right spacer(1)
