@import '../../../styles/global.styl'

.toolbox--color
  .toolbox
    &__color
      position relative
      width 2rem
      height 2rem
      margin 0 1rem
      border-radius 3rem
      border none
      transition transform $t-duration
      box-shadow #f0f0f0 0 0 0 .2rem

      &:hover
        transform scale(1.1)

    &__hexa
      width 7rem
      border-top none
      border-right none
      border-left none
      color $c-grey
      opacity .5

      font-size 1.3rem
      font-weight bold
      line-height 1.2rem
      text-transform uppercase
      letter-spacing .1rem
      outline none

    &__body
      position relative
      z-index 2
      display flex


