@import '../../../styles/global.styl'

.toolbox--color
  .toolbox
    &__color
      position relative
      width 2rem
      height 2rem
      margin 0 1rem
      border-radius 3rem
      border none
      transition opacity .3s
      box-shadow 0 .4rem .8rem rgba(162, 160, 160, 0.25)

    &__hexa
      width 6.5rem
      border-top none
      border-right none
      border-left none
      color $c-grey-dark
      opacity .5

      font-size 1.3rem
      font-weight bold
      line-height 1.2rem
      text-transform uppercase
      letter-spacing .1rem

    &__body
      position relative
      z-index 2
      display flex


