@import '../../../styles/global.styl'

.toolbox--brush
  .toolbox

    &__body
      display flex
      align-items center

    &__button
      position relative
      background $c-blue-medium
      border-radius 3rem
      margin 0 1rem
      padding 0
      opacity .3
      transition opacity .3s

      &--xs
        width 1rem
        height 1rem

      &--sm
        width 1.5rem
        height 1.5rem

      &--md
        width 2rem
        height 2rem

      &--lg
        width 2.5rem
        height 2.5rem

      &.is-active
        opacity 1
