@import '../../../styles/global.styl'

.card--room
  padding spacer(2) spacer(3)
  border-radius 2rem
  background $c-purple-pale
  border .2rem solid $c-purple-pale
  color $c-black
  opacity .7

  &.is-active
    border-color $c-blue-brand
    cursor default
    opacity 1

    .card__title
      max-width 15rem

  &:hover
    opacity 1

  .badge--number
    margin-left 0

  .card
    &__top,
    &__top__left
      display flex
      align-items center
      justify-content space-between

    &__title
      margin-left spacer(1)
      max-width 10rem
      font-weight bold
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      color $c-blue-brand

    &__top
      color $c-blue-light

      &__right
        margin-left spacer(2)

    &__body
      margin-top spacer(1)

    &__button
      margin-top -1rem
      margin-bottom -1rem
      opacity 0
      pointer-events none
      transition opacity .2s

  &:hover
    .card
      &__button
        opacity 1
        pointer-events all

  .list--users
    color $c-blue-pale

    .list__item
      display flex
      align-items center

      &__icon
        display inline-block
        flex-shrink 0
        width 1rem
        height 1rem
        margin-right 1rem
        border-radius 2rem

      &.is-active
        color $c-blue-medium
