@import '../../../styles/global.styl'

.card--room
  padding spacer(2) spacer(3)
  border-radius 2rem
  background $c-blue-pale-2
  color $c-black

  &.is-active
    background $c-blue-light
    cursor default

    .card
      &__number
        background $c-blue-light-2

      &__top
        color $c-white

        &__left
          width 100%

  .card
    &__top,
    &__top__left
      display flex
      align-items center
      justify-content space-between

    &__title
      max-width 10rem
      font-weight bold
      overflow hidden
      white-space nowrap
      text-overflow ellipsis

    &__top
      color $c-blue-light-2

      &__right
        margin-left spacer(2)

    &__button
      margin-top -1rem
      margin-bottom -1rem
      opacity 0
      pointer-events none
      transition opacity .2s

  &:hover
    .card
      &__button
        opacity 1
        pointer-events all

  .list--users
    color $c-blue-pale

    .list__item
      &:after
        content ''
        display inline-block
        margin-left spacer(2)
        width spacer(1)
        height spacer(1)
        background $c-blue-pale
        border-radius spacer(1)
        opacity 0

      &.is-active
        &:after
          opacity 1
