@import '../../../styles/global.styl'

.color--picker
  position absolute
  bottom -(spacer(1))
  right 0
  width 25rem
  transform translateY(90%)
  background $c-white
  border-radius 1rem
  box-shadow .2rem .2rem .6rem  rgba(128, 128, 128, 0.1)
  pointer-events none
  opacity 0
  transition opacity $t-duration, transform $t-duration

  &.is-open
    opacity 1
    transform translateY(100%)
    pointer-events all

    .color__overlay
      pointer-events all

  .color__overlay
    position fixed
    top -8rem
    left var(--colorPickerLeft)
    bottom 0
    right 0
    width 100vw
    height 100vh
    pointer-events none

  .color__inner
    position relative
    padding 2rem
    z-index 2
