@import '../../../../styles/global.styl'

.badge--number
  display inline-block
  margin-left spacer(1)
  text-align center
  line-height 2.5rem
  width spacer(3)
  height spacer(3)
  border-radius spacer(2)
  background $c-blue-light
  color $c-white
  font-weight bold
  font-size 1.2rem
  line-height 2.5rem
