@import '../../styles/global.styl'

.panel--user
  position absolute
  top 2rem
  bottom 2rem
  right 2rem
  width 30rem
  background $c-blue-dark
  border-radius 2rem
  color $c-white

  .panel__inner
    padding 2rem
