.toolbox--pen
  .toolbox
    &__button
      background blue
      border-radius 3rem
      margin 0 1rem
      padding 0
      border 2px solid blue

      &--sm
        width 1.5rem
        height 1.5rem

      &--md
        width 2rem
        height 2rem

      &--lg
        width 2.5rem
        height 2.5rem

      &.is-active
        border-color red
