@import '../../../styles/global.styl'

.toolbox--pen
  .toolbox

    &__body
      display flex
      align-items center
      margin-left spacer(2)

    &__button
      position relative
      background $c-blue-light
      border-radius 3rem
      margin 0 1rem
      padding 0
      opacity .3
      transition opacity .3s

      &:after
        content ''
        position absolute
        top -.6rem
        left -.6rem
        bottom -.6rem
        right -.6rem
        border 1px solid $c-pink
        border-radius 3rem
        opacity 0
        transition opacity .3s

      &--xs
        width 1rem
        height 1rem

      &--sm
        width 1.5rem
        height 1.5rem

      &--md
        width 2rem
        height 2rem

      &--lg
        width 2.5rem
        height 2.5rem

      &.is-active
        border-radius 3rem
        opacity 1

        &:after
          opacity 1
