@import '../../../../styles/global.styl'

.list--swatches
  display flex
  flex-wrap wrap
  margin-top 2rem

  .list__item
    display inline-block
    margin-right 1rem
    margin-bottom 1rem

  .list__swatch
    width 2rem
    height 2rem
    background $c-white
    border .2rem solid $c-grey-medium
    border-radius .4rem

