@import '../../../../styles/global.styl'

.btn--primary
  padding spacer(1) 1.2rem
  border none
  border-radius spacer(2)
  cursor pointer

  background $c-blue
  color $c-white
  box-shadow 0 .4rem .6rem rgba(145,145,145,0.25)
  transition background 0.3s

  font-weight bold
  font-size 1.2rem
  letter-spacing 0.05rem
  text-transform uppercase

  &--big
    padding spacer(2) spacer(3)
    border-radius spacer(3)
    font-size 1.4rem

  &.is-disabled
    opacity .2
    cursor not-allowed
