@import '../../../styles/global.styl'

.list--message
  max-height 100%
  overflow auto
  padding-right 1rem

  .list__item
    display  flex
    flex-direction  column
    &.is-mine
      align-items flex-end
