@import '../../styles/global.styl'

.panel--room
  position absolute
  top 0
  bottom 0
  right 0
  width 30rem
  border-radius 1rem 0 0 2rem
  background $c-white
  box-shadow -.1rem 0 .6rem $c-purple-pale-2
  opacity 1
  transform translateX(0)
  transition transform .3s, opacity .3s

  .panel
    &__inner
      padding 3.8rem spacer(4)
      height 100%

    &__top
      display flex
      align-items center

    &__body
      margin-top spacer(7)

    &__bottom
      margin-top spacer(4)

  &__trigger
    position absolute
    top 4rem
    right 4rem
    z-index 2

  &.is-minified
    transform translateX(30rem)
    opacity 0


  .card--room-create
    padding spacer(2) spacer(3)
    border-radius 2rem
    border .2rem dashed $c-blue-pale

    .card
      &__inner
        display flex
        align-items center
        justify-content space-between

      &__top
        color $c-blue-light-2

      &__right
        margin-left spacer(1)

      &__input
        width 10rem
        font-weight bold
        color $c-blue-light-2
        opacity .3
        border-bottom .1rem solid $c-blue-light-2
        outline none
        transition opacity .3s

        &:focus
          opacity 1

      &__button
        margin-top -1rem
        margin-bottom -1rem
        transition opacity .2s
        opacity .7

        &:hover,
        &.is-focusing
          opacity 1


