@import '../../styles/global.styl'

.page--login
  height 100vh
  background $c-purple-pale

  .page__inner
    position fixed
    top 0
    left 0
    bottom 0
    right 0

  .page__body
    height 100%
    display flex
    align-items center
    justify-content center

  .page__bottom
    position absolute
    bottom spacer(4)
    right spacer(4)

  .box--login
    background $c-white
    width 48%
    max-width 70rem
    border-radius 2rem
    padding spacer(5) spacer(11)

    .box__top
      margin-bottom spacer(6)
      text-align center
      color $c-grey-medium

    .box__title
      margin-bottom spacer(3)

    .box__text
      margin-bottom spacer(2)

    .box__bottom
      display flex
      justify-content flex-end
      margin-top spacer(3)

  .form
    .form__label
      color $c-grey-dark

    .form__input
      width 100%
      display block
      border-bottom .2rem solid $c-black

      &:placeholder
        opacity .2

  .link--primary
    color $c-blue-light
    border-bottom .2rem solid $c-blue-light
    text-decoration none

  +mq-tablet-lg-below()
    .box--login
      width 64%

  +mq-mobile-lg-below()
    .page__inner
      position static

    .page__bottom
      right spacer(3)
      bottom spacer(3)

    .box--login
      width 100%
      margin 0 spacer(3)
      padding spacer(4) spacer(4)
