@import '../../styles/global.styl'

.chat
  position absolute
  bottom 4rem
  right 34rem
  height 42rem
  width 31rem
  transition height .3s, width .3s, transform .3s

  &:before,
  &:after
    position absolute
    content ''
    top 0.7rem
    bottom 0.7rem
    left 0.7rem
    right 1.6rem

    border-radius 2rem
    pointer-events none

    opacity 0
    transition opacity .3s, transform .3s

  &:before
    background $c-purple-pale-3
    border-radius 2rem

  &:after
    position absolute
    box-shadow 0 .4rem .8rem rgba(95, 95, 95, 0.09)
    z-index 0

  &__inner
    position relative
    z-index 1
    height 100%
    border-radius 2rem
    overflow hidden
    box-shadow 0 0 .8rem rgba(45, 45, 45, 0.12)

  &__header
    display flex
    justify-content space-between
    align-items center
    padding 1.5rem 2rem
    background $c-white
    box-shadow 0 0.3rem 1rem rgba(183, 183, 202, 0.07)

    &__left
      position relative

    &__left,
    &__right
      display flex
      align-items center

    &__right
      position relative

      .icon
        transform rotate(180deg)
        transition transform .3s

    &__toggle
      padding 1rem

    &__center
      display flex
      align-items center
      flex-direction column

  &__title,
  &_subtitle
    display block
    transition opacity .3s

  &__subtitle
    color $c-grey-medium

  &__body
    display flex
    flex-direction column
    justify-content space-between
    height 35.4rem
    border-radius 0 0 2rem 2rem
    background $c-white

    overflow hidden
    transition height .3s

    &__top
      padding 0 2rem
      height 23.6rem

    &__bottom
      opacity 1
      transition .2s opacity .3s

  //States
  &.is-minified
    $minified-height = 4.2rem
    $minified-width = 8rem

    height $minified-height + 3rem
    width $minified-width + 4rem
    transform translate(1.5rem, 2rem)

    .chat
      &__inner
        transform translate(1.5rem, 1.5rem)
        height $minified-height
        width $minified-width

      &__title
        opacity 0
        pointer-events none
        transition none

      &__toggle
        position absolute
        width $minified-width
        height $minified-height
        top -2.4rem
        right -3.5rem
        padding-left 8rem
        padding-right 3rem

      &__header
        padding 1rem 4rem .5rem 1rem

        &__right
          .icon
            transform rotate(0)

        &__left
          transform translateY(-.2rem)

        &__center
          height 0
          width 0

      &__body
        height 0

        &__bottom
          opacity 0

    &.is-notified
      &:before,
      &:after
        opacity 1
        animation-name halo
        animation-duration 2s
        animation-delay 5s
        animation-iteration-count infinite
        animation-direction alternate-reverse

  @keyframes halo {
    0% {
      transform scale(0)
      opacity 0
    }
    100% {
      transform scale(1)
      opacity 1
    }
  }


