@import '../../styles/global.styl'

.chat
  position absolute
  bottom 4rem
  right 34rem
  height 42rem
  width 31rem
  transition height .3s, width .3s, transform .3s

  &:before,
  &:after
    position absolute
    content ''
    top 0.7rem
    bottom 0.7rem
    left 0.7rem
    right 1.6rem

    border-radius 2rem
    pointer-events none

    opacity 0
    transition opacity .3s, transform .3s

  &:before
    background $c-purple-pale-3
    border-radius 2rem

  &:after
    position absolute
    box-shadow 0px .4rem .8rem rgba(95, 95, 95, 0.09)
    z-index 0

  &__inner
    position relative
    z-index 1
    height 100%
    border-radius 2rem
    overflow hidden
    box-shadow 0px .4rem .8rem rgba(45, 45, 45, 0.12)

  &__header
    display flex
    justify-content space-between
    padding 1rem 2rem
    background $c-purple-pale-2
    box-shadow 0 .3rem .5rem rgba(183, 183, 202, 0.2)

    &__left
      position relative

    &__left,
    &__right
      display flex
      align-items center

    &__right
      position relative

      .icon
        transform rotate(180deg)
        transition transform .3s

    &__toggle
      padding 1rem

  &__title
    position absolute
    left 5rem
    width 17rem
    transition opacity .3s

  &__body
    display flex
    flex-direction column
    justify-content space-between
    height 37.7rem
    border 1px solid $c-grey
    border-radius 0 0 2rem 2rem

    overflow hidden
    transition height .3s

    &__top
      padding 0 2rem 1rem
      height 31.6rem

    &__bottom
      opacity 1
      transition .2s opacity .3s

  .heading-3
    font-weight bold
    font-size 1.6em

  //States
  &.is-minified
    $minified-height = 4.7rem
    $minified-width = 11rem

    height $minified-height + 3rem
    width $minified-width + 4rem
    transform translate(1.5rem, 2rem)

    .chat
      &__inner
        transform translate(1.5rem, 1.5rem)
        height $minified-height
        width $minified-width

      &__title
        opacity 0
        pointer-events none
        transition none

      &__toggle
        position absolute
        width $minified-width
        height $minified-height
        right -2rem
        padding-left 7rem

      &__header
        &__right
          .icon
            transform rotate(0)

      &__body
        height 0

        &__bottom
          opacity 0

    &.is-notified
      &:before,
      &:after
        opacity 1
        animation-name halo
        animation-duration 2s
        animation-delay 5s
        animation-iteration-count infinite
        animation-direction alternate-reverse

  @keyframes halo {
    0% {
      transform scale(0)
      opacity 0
    }
    100% {
      transform scale(1)
      opacity 1
    }
  }


