@import '../../../styles/global.styl'

.btn--primary
  width 3rem
  height 3rem
  border-radius 2rem

  display flex
  align-items center
  justify-content center

  background $c-blue
  color $c-white
  transition background .3s

  &:hover
    background $c-blue-dark
