@import '../../../styles/global.styl'

.toolbox
  position relative
  padding spacer(2)
  border-radius 2rem
  margin-right spacer(6)

  // box-shadow .1rem .2rem .5rem rgba(103, 103, 103, 0.03)

  &__inner
    display flex
    align-items center
