@import '../../../styles/global.styl'

.toolbox
  position relative
  padding spacer(1) spacer(2)
  margin-right spacer(12)
  display flex
  align-items center
  border-radius 3rem
  background white

  &__inner
    display flex
    align-items center

  &__title
    margin 0 spacer(1)

  +mq-tablet-lg-below()
    margin-right spacer(3)

  +mq-mobile-lg-below()
    margin spacer(2)
