@import '../../../styles/global.styl'

.toolbox--clear
  .toolbox__icon
    display flex
    padding .6rem
    opacity .3
    transition opacity $t-duration, transform $t-duration

    &:hover
      transform scale(1.1)
      opacity 1

      ~ .toolbox__tooltip
        transform translateY(0)
        opacity 1

  .toolbox__tooltip
    position absolute
    top spacer(6)
    right 0
    padding spacer(1) spacer(2)

    background $c-white
    box-shadow 0 .1rem .4rem rgba(0, 0, 0, 0.04)
    border-radius spacer(2)
    white-space nowrap

    font-weight bold

    opacity 0
    transform translateY(-2rem)
    pointer-events none

    transition opacity $t-duration, transform $t-duration


