spacer(i)
  return (($base-spacer * i / 10)rem)


mq-tablet-lg-below()
  @media (max-width: $mq-tablet-lg)
    {block}


mq-unsupported()
  @media (max-width: $mq-unsupported)
    {block}

mq-mobile-lg-below()
  @media (max-width: $mq-mobile-lg)
    {block}
