.heading-1
  font-family $f-nunito
  font-size 3.2rem
  line-height 4.1rem
  letter-spacing .1rem

.heading-3
  font-family $f-nunito
  font-weight bold
  font-size 1.6rem

.heading-4
  font-family $f-nunito
  font-weight bold
  font-size 1.2rem
  line-height 1.6rem

.heading-5
  font-family $f-nunito
  text-transform uppercase
  font-size 1rem
  letter-spacing 0.2rem

.heading-6
  font-family $f-nunito
  font-weight bold
  text-transform uppercase
  font-size 1rem
  letter-spacing 0.1rem

.teasing-1
  font-family $f-nunito
  font-size 1.6rem
  line-height 2.8rem
  letter-spacing .1rem

.tag
  font-family $f-nunito
  text-transform uppercase
  font-size 1rem
  letter-spacing 0.05rem

.form__input
  font-family $f-nunito
  font-weight bold
  font-size 1.8rem
  line-height 2.5rem

.link--primary
  font-family $f-nunito
  font-weight bold
  font-size 1.6rem
  line-height 2.8rem

