.heading-1
  font-family $f-nunito
  font-size 3.2rem
  line-height 4rem
  letter-spacing .1rem

.heading-2
  font-family $f-nunito
  font-size 2.4rem
  line-height 3.2rem
  letter-spacing .1rem

.heading-3
  font-family $f-nunito
  font-weight bold
  font-size 1.7rem
  line-height 2.6rem

.teasing-1
  font-family $f-nunito
  font-size 1.6rem
  line-height 2.8rem

.teasing-2
  font-family $f-nunito
  font-size 1.4rem
  line-height 2.6rem

.tag
  font-family $f-nunito
  text-transform uppercase
  font-weight bold
  font-size 1rem
  line-height 2rem
  letter-spacing 0.1rem

.form__input
  font-family $f-nunito
  font-weight bold
  font-size 1.8rem
  line-height 2.5rem

textarea
  font-family $f-nunito
  font-weight bold
  font-size 1.2rem

.message__body
  font-family $f-nunito
  font-size 1.4rem
  line-height 2rem

.link--primary
  font-family $f-nunito
  font-weight bold
  font-size 1.6rem
  line-height 2.8rem

