//Colors
$c-white = #fff
$c-black = #000

$c-pink = #ff9dd8

$c-blue-pale = #C7CEFF
$c-blue-pale-2 = #edeffd
$c-blue-light-2 = #7497FF
$c-blue-light = #4A5CFF
$c-blue = #3514FF
$c-blue-dark = #270ebd

$c-purple-pale = #FAF9FF
$c-purple-pale-2 = #ECECFF
$c-purple-pale-3 = #F5F5FF
$c-purple-light = #E0DAFF
$c-purple = #8672FE

$c-grey-light = #F9FAFD
$c-grey = #f0f1f7
$c-grey-medium = #B0B0B0
$c-grey-dark = #7E7E7E

$f-nunito = 'Nunito', sans-serif

$base-spacer = 8

$aside-size = 30rem
