//Colors
//Basis color
$c-white = #fff
$c-black = #000

//Primaries
$c-blue-brand = #3514FF
$c-blue-brand-dark = #270ebd
$c-blue-medium = #4A5CFF

//Secondaries
$c-blue-light = #7497FF
$c-blue-pale = #C7CEFF
$c-blue-white = #ECECFF
$c-purple-pale = #FAF9FF
$c-pink = #ff9dd8
$c-green = #6BEF90

//Tertiaries
$c-grey = #B0B0B0
$c-grey-medium = #F2F2F2
$c-grey-light = #F9FAFD

//Fonts
$f-nunito = 'Nunito', sans-serif

//Spacings
$base-spacer = 8

//Box
$aside-size = 30rem
$chat-size = 42rem

//Transitions
$t-duration = .3s

//Mq
$mq-tablet-lg = 1024px
$mq-unsupported = 820px
$mq-mobile-lg = 575px
