@import '../../../styles/global.styl'

.form--message
  position relative
  height 8rem
  margin 2rem
  border-radius 2rem
  background $c-grey-light

  .form__wrapper
    height 100%
    padding 1rem 8.5rem 1rem 2rem

  .form__textarea
    width 100%
    height 100%
    padding-right 1rem
    border none
    background $c-grey-light
    resize none
    outline none
    font-size 1.4rem
    font-weight normal

  .form__submit
    position absolute
    top 50%
    right 2rem
    transform translateY(-50%)
