@import '../../../../styles/global.styl'

.color__spectrum--gradient
  position relative
  height 2rem

  &.is-open
    .color__spectrum
      transition transform $t-duration
      transform translateY(0)

  .color__cursor
    position absolute
    top 50%
    left 0
    width 1.6rem
    height 1.6rem
    border .2rem solid $c-white
    border-radius 3rem
    background none
    transform translate(-50%, -50%)
    pointer-events none

    &:after,
    &:before
      content ''
      position absolute
      border .1rem solid $c-grey
      border-radius 3rem

    &:after
      top -.2rem
      left -.2rem
      bottom -.2rem
      right -.2rem

  .color__spectrum
    width 100%
    height 2rem
    border-radius 1rem
    transform translateY(.1rem)
    pointer-events all
    cursor pointer


