@import '../../styles/global.styl'

.canvas
  width 70vw
  margin-left 10rem
  margin-top 2rem
  height 75vh
  background $c-white
  border-radius 2rem
  box-shadow 1rem 1rem 2rem rgba(31, 61, 151, 0.02)
