@import '../../styles/global.styl'

.header
  position relative
  padding spacer(3) spacer(4)
  z-index 3

  &__logo
    display inline-block

  &__logo__image
    height 6rem
    transition transform .3s

  &__inner
    display flex
    justify-content space-between
    align-items center

  &__middle
    border-radius 6rem

  &__right
    width spacer(7)

  +mq-mobile-lg-below()
    &__logo__image
      transform scale(0.85)
