@import '../../styles/global.styl'

.header
  position relative
  padding spacer(3) spacer(4)
  z-index 3
  // margin-right $aside-size

  &__logo__image
    height 6rem

  &__inner
    display flex
    justify-content space-between
    align-items center

  &__middle
    border-radius 6rem

  &__right
    width spacer(7)
