@import './../../../styles/global.styl'

.chat__notification
  display flex

  &__icon
    position relative
    top .4rem

  &__text
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    font-size 1.3rem
    font-weight bold
    color $c-white
