@import './../../../styles/global.styl'

.chat__notification
    display flex

.chat__notification__icon
    position relative
    top .4rem

.chat__notification__text
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    padding-top .2rem
    font-size 1rem
    font-weight bold
    color $c-white
