//Colors
$c-white = #fff
$c-black = #000

$c-blue-light = #4A5CFF
$c-blue = #3514FF
$c-blue-dark = #270ebd

$c-purple-pale = #FAF9FF
$c-purple-pale-2 = #ECECFF
$c-purple-pale-3 = #F5F5FF
$c-purple-light = #E0DAFF
$c-purple = #8672FE

$c-grey-light = #F9F9F9
$c-grey = #ECEBEB
$c-grey-dark = #7E7E7E

