@import './global.styl'
@import './core/_typography.styl'
@import './core/_colors.styl'

html
  margin 0
  padding 0
  font-size 62.5%
  box-sizing border-box

*
  box-sizing border-box

body
  margin 0
  padding 0
  height 100vh
  font-family $f-nunito
  font-size 1.4rem
  line-height 1.8rem
  background $c-purple-pale
  overflow hidden

  +mq-tablet-lg-below()
    height auto
    overflow auto

p
  margin 0
  padding 0

ul, li
  list-style none
  padding 0
  margin 0

h1, h2, p
  margin 0
  padding 0

button
  background none
  border 0
  cursor pointer
  outline none

input
  background none
  border none
  box-sizing border-box
  font-size 1.4rem
  font-family $f-nunito

.aside
  position absolute
  right 0
  top 0
  height 100vh
  z-index 6
  // transform translateX(-30rem)

.main
  display flex
  align-items center
  height calc(100vh - var(--headerSize))

.highlight
  background linear-gradient(180deg, $c-purple-pale-2, $c-purple-pale-2)
  background-position 0 100%

.link--primary
  color $c-blue-medium
  border-bottom .2rem solid $c-blue-medium
  text-decoration none

  &:hover
    color $c-blue-light
    border-color $c-blue-light
